{% extends "base.html" %}

{%block stylesheets %}
<link rel="stylesheet" href="/static/css/sampleconverter.css">
{%endblock%}

{%block title %}
<title>OP-Z Sample Converter</title>
{%endblock%}

{% block main %}
<h1>OP-Z Sample Converter</h1>

<button onclick="window.location.href='/'" class="btn btn-primary">Home Page</button>

<button onclick="openExplorer()" class="btn btn-secondary">Open Converted Directory</button>

<div id="file-list">
    <div class="drop-zone-container">
        <div class="samplepackbox">
            <h3>Drum Samples</h3>
            <div class="drop-zone" id="drum-samples">
                <i data-lucide="drum" class="drop-icon"></i>
                <p class="drop-text">Drop files here or click to browse</p>
                <p class="drop-hint">Max 12 seconds</p>
            </div>
        </div>
    </div>

    <div class="drop-zone-container">
        <div class="samplepackbox">
            <h3>Synth Samples</h3>
            <div class="drop-zone" id="synth-samples">
                <i data-lucide="keyboard-music" class="drop-icon"></i>
                <p class="drop-text">Drop files here or click to browse</p>
                <p class="drop-hint">Max 6 seconds</p>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/sampleconverter.js"></script>

{% endblock %}

</html>