{% extends "base.html" %}

{%block stylesheets %}
<link rel="stylesheet" href="/static/css/samplemanager.css">
{%endblock%}

{%block title %}
<title>OP-Z Sample Manager</title>
{%endblock%}

{% block main %}
<h1>OP-Z Sample Manager</h1>

<button onclick="window.location.href='/'" class="btn btn-primary">Home Page</button>

<button onclick="fetchOpzSamples()" id="list-files" class="btn btn-secondary">List Files</button>
<button onclick="openOpzDirectory()" class="btn btn-warning">Open OP-Z Directory</button>
<div id="sample-output"></div>

<div id="storage-info">
    <p>Total Storage Used: <span id="storage-percent">0%</span></p>
    <p>Storage Used: <span id="storage-used">0 KB</span></p>
    <p>Storage Free: <span id="storage-free">0 KB</span></p>
    <br>
    <p>Total Samples Used: <span id="samples-percent">0%</span></p>
    <p>Samples Used: <span id="samples-used">0</span></p>
    <p>Samples Free: <span id="samples-free">40</span></p>
</div>

<div id="file-list">
    <h3>Kicks</h3>
    <div class="samplepackbox" id="1-kick"></div>
    <h3>Snares</h3>
    <div class="samplepackbox" id="2-snare"></div>
    <h3>Percussion</h3>
    <div class="samplepackbox" id="3-perc"></div>
    <h3>FX</h3>
    <div class="samplepackbox" id="4-fx"></div>
    <h3>Bass</h3>
    <div class="samplepackbox" id="5-bass"></div>
    <h3>Lead</h3>
    <div class="samplepackbox" id="6-lead"></div>
    <h3>Arpeggio</h3>
    <div class="samplepackbox" id="7-arpeggio"></div>
    <h3>Chords</h3>
    <div class="samplepackbox" id="8-chord"></div>
</div>

<script src="/static/js/samplemanager.js"></script>
<script>
    // on page load, list the samples
    document.addEventListener("DOMContentLoaded", function() {
        fetchOpzSamples();
    });
</script>

{% endblock %}

</html>